@media (max-width:1024px) {
    .text-content {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .navigation-wrap .nevbar-brand img {
        height: 3.8125rem;
    }

    .navigation-wrap {
        text-align: center;
        background-color: var(--white-color);
    }

    .navigation-wrap .nav-link {
        line-height: 1.87rem;
    }

    .top-banner {
        padding: 9.375rem 0 9.375rem;
    }

    .testimonial-section .carousel-item {
        padding: 0;
    }


}

@media (max-width:767px) {
    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.0625rem;
    }

    .top-banner {
        padding: 10.875rem 0 9.375rem;
    }
}

.story-section {
    height: auto;
    padding: 3rem 0;
}

.testimonial-section .carousel-item {
    padding: 11rem 3.125rem;
}

@media (max-width:330px) {
    .testimonial-section .carousel-item {
        padding: 13rem 3.125rem;
    }
}

@media (max-width: 360px) {
    .newsletter-form {
        flex-direction: column;
        /* stack input and button */
        gap: 1rem;
        /* space between them */
    }

    .email-input,
    .subscribe-button {
        width: 100%;
        /* take full width on tiny screens */
        max-width: 300px;
        /* optional max-width */
    }
}